<!-- Hero -->
<section class="hero">
    <div class="hero-body">
        <h1 class="title has-text-white">
            @Title
        </h1>

        @if (Subtitle is not null)
        {
            <p class="subtitle has-text-white-bis">
                @Subtitle
            </p>
        }
    </div>
</section>