<Button Class="btn-close" Clicked=CloseLightboxOnClick Float=Float.End Position=Position.Absolute Margin=Margin.Is3.OnX.FromEnd></Button>

<Div Margin=Margin.Is3.OnTablet.Is1>
    @ChildContent
</Div>