<!-- Section -->
<section class="section is-inverted">
    <h2 class="title has-text-white">
        @Title
    </h2>

    @if (Content is not null)
    {
        <div class="content">
            @Content
        </div>
    }
</section>