@page "/projects/oem-inventory"

<Hero>
    <Title>
        OEM Inventory Management
    </Title>
    <Subtitle>
        Custom OEM lifecycle intranet management suite with workflow automation and reporting anayltics.
    </Subtitle>
</Hero>

<!-- Summary -->
<Section>
    <Title>
        Project Summary
    </Title>
    <Content>
        <p class="my-4">
            <span class="has-text-weight-semibold">
                Operational Goals:
            </span>
            <ul>
                <li>
                    Eliminate paperwork and overuse of spreadsheets for maintaining company &quot;drop lots&quot; of used OEM semi-trucks.
                </li>
                <li>
                    Automate arrival and departure procedure from customer emails using text pattern matching and business logic.
                </li>
                <li>
                    Provide daily and weekly status overviews with relevant metrics and trends for branch managers and their clients.
                </li>
                <li>
                    Enable features such as departure staging, monthly inspections, diesel filter replacement logging, pickup notices, and more.
                </li>
            </ul>
        </p>

        <p class="my-4">
            <span class="has-text-weight-semibold">
                Technologies Used:
            </span>
            <ul>
                <li>
                    ASP.NET Core MVC 6.x
                </li>
                <li>
                    Active Directory Authentication &amp; Authorization
                </li>
                <li>
                    SQL Server with Entity Framework data layer
                </li>
                <li>
                    Bootstrap UI/UX design
                </li>
                <li>
                    3PLs: MailKit, Serilog, MS Office Interop
                </li>
            </ul>
        </p>
    </Content>
</Section>

<!-- Carousel -->