@page "/projects/invoice-indexing"

<Hero>
    <Title>
        Invoice Indexing Software
    </Title>
    <Subtitle>
        Document manager integrated with business software systems and enhanced auditing intranet tool.
    </Subtitle>
</Hero>

<!-- Summary -->
<Section>
    <Title>
        Project Summary
    </Title>
    <Content>
        <p class="my-4">
            <span class="has-text-weight-semibold">
                Operational Goals:
            </span>
            <ul>
                <li>
                    Enable remote branches to quickly upload scanned invoice copies to corporate for billing.
                </li>
                <li>
                    Create a link between FMIS and ERP systems for an invoice represented by a purchase order and voucher, respectively.
                </li>
                <li>
                    Provide branch managers with a resource to upload and review expense reports.
                </li>
                <li>
                    Establish an indexed resource to assist with month-end and quarterly review processes.
                </li>
                <li>
                    Assist both internal and external audits with highly customizable search features and routine background congruency processes.
                </li>
                <li>
                    Serve as a centralized resource of vendors available to each branch.
                </li>
            </ul>
        </p>

        <p class="my-4">
            <span class="has-text-weight-semibold">
                Accounting Goals:
            </span>
            <ul>
                <li>
                    Eliminate daily manual data entry of invoices into ERP software.
                </li>
                <li>
                    Reduce paper and ink footprint with an indexed repository of soft-copies.
                </li>
                <li>
                    Supply reports and tools to Accounts Payable not readily available in ERP software tailored to unique business requirements.
                </li>
                <li>
                    Keep a record of all edits and lifecycle changes of an invoice from initial upload to final payment.
                </li>
                <li>
                    Generate invoice, expense report, and vendor spreadsheet reports on-demand from supplied parameters.
                </li>
            </ul>
        </p>

        <p class="my-4">
            <span class="has-text-weight-semibold">
                Technologies Used:
            </span>
            <ul>
                <li>
                    ASP.NET Core MVC 6.x
                </li>
                <li>
                    Active Directory Authentication
                </li>
                <li>
                    Policy &amp; Resource-based Authorization of Areas for branch isolation
                </li>
                <li>
                    SQL Server with Entity Framework data layer
                </li>
                <li>
                    Bootstrap UI/UX design
                </li>
                <li>
                    3PLs: ClosedXML, CsvHelper, PdfPig, EFCore Triggered, LinqKit, Serilog
                </li>
            </ul>
        </p>
    </Content>
</Section>

<!-- Carousel -->