@page "/projects/parts-ordering"

<Hero>
    <Title>
        Parts Requisitions
    </Title>
    <Subtitle>
        Ordering parts inventory quickly for same-day delivery from exclusive vendors.
    </Subtitle>
</Hero>

<!-- Summary -->
<Section>
    <Title>
        Project Summary
    </Title>
    <Content>
        <p class="my-4">
            <span class="has-text-weight-semibold">
                Operational Goals:
            </span>
            <ul>
                <li>
                    Integrate with fleet management software to make part orders and supply repair details to vendor.
                </li>
                <li>
                    Notify vendor of requisitioned parts needed for same-day or next-day repairs.
                </li>
                <li>
                    Provide vendor with ability to confirm or give feedback on an order status.
                </li>
                <li>
                    Retain daily order history for parts manager review.
                </li>
            </ul>
        </p>

        <p class="my-4">
            <span class="has-text-weight-semibold">
                Technologies Used:
            </span>
            <ul>
                <li>
                    ASP.NET Core Razor Pages 5.x
                </li>
                <li>
                    SQL Server with Entity Framework data layer
                </li>
                <li>
                    Bootstrap UI/UX design
                </li>
                <li>
                    3PLs: RazorLight
                </li>
            </ul>
        </p>
    </Content>
</Section>

<!-- Carousel -->