@page "/"

<section class="hero">
    <div class="hero-body">
        <p class="title has-text-white-ter">
            Drew Cavanaugh
        </p>
        <p class="subtitle has-text-grey-lighter">
            @_age years old Full-Stack Software Engineer
        </p>
    </div>
</section>