@page "/"

<!-- Intro -->
<Heading Size=HeadingSize.Is2 Margin=Margin.Is2.OnY TextColor=TextColor.Light>
    Hello, world!
</Heading>
<Lead Margin=Margin.Is3.OnY>
    I am Drew Cavanaugh, a @_age-year-old Software Engineer.
</Lead>

<!-- About -->
<Row>
    <Column Margin=Margin.Is3.OnY>
        <Paragraph Margin=Margin.Is2.OnY>
            My software developing journey began back in grade school when I first showed interest in making computer games.
            Coding logic, designing UIs, and packaging programs for release is what drives me to keep learning.
            My passion is solving problems with customized software solutions.
        </Paragraph>
        <Paragraph Margin=Margin.Is2.OnY>
            My expertise is designing full-scale software solutions to complex business problems, both forward-facing to clients and internally for employees.
            With a decade in .NET experience as a hobby and 4+ years professionally, I am very comfortable with object-oriented programming, data structures, test-driven development, and more.
            Though much of my experience is in .NET, I am familiar with other frameworks and eager to apply my professional experience to learn new practices.
        </Paragraph>
        <Paragraph Margin=Margin.Is2.OnY>
            To know more about me, I love to travel! I have explored National Parks, monuments, and attractions in over two-thirds of the United States as well as parts of Canada, and Mexico.
            I look forward to visiting Scotland one day to explore my heritage, and hope to explore much of the Eastern world throughout the rest of my life.
            My other hobbies involve following
            <Tooltip Text="War Eagle!" Inline>
                <Anchor To="https://youtu.be/8GKmkD1pUG0" Target=Target.Blank>
                    collegiate sports
                </Anchor>
            </Tooltip>
            and hitting the gym after work.
        </Paragraph>
    </Column>
</Row>


<!-- Skills -->
<Div Class="tile is-ancestor">
    <Div Class="tile is-vertical">
        <Div Class="tile">
            <Div Class="tile is-parent is-vertical">
                <!-- Hard Skills -->
                <Div Class="tile is-child notification is-primary">
                    <Heading Size=HeadingSize.Is4>
                        <Icon Name=Blazorise.Icons.FontAwesome.FontAwesomeIcons.Toolbox />
                        Hard Skills
                    </Heading>
                    <UnorderedList>
                        <UnorderedListItem>
                            Software Design &amp; Testing
                        </UnorderedListItem>
                        <UnorderedListItem>
                            End User Support
                        </UnorderedListItem>
                        <UnorderedListItem>
                            Debugging &amp; Troubleshooting
                        </UnorderedListItem>
                        <UnorderedListItem>
                            Version Control (Git)
                        </UnorderedListItem>
                        <UnorderedListItem>
                            IIS &amp; Apache Hosting
                        </UnorderedListItem>
                        <UnorderedListItem>
                            Endpoint Routing &amp; Security
                        </UnorderedListItem>
                        <UnorderedListItem>
                            Reporting &amp; Data Analytics
                        </UnorderedListItem>
                    </UnorderedList>
                </Div>

                <!-- Soft Skills -->
                <Div Class="tile is-child notification is-info">
                    <Heading Size=HeadingSize.Is4>
                        <Icon Name=Blazorise.Icons.FontAwesome.FontAwesomeIcons.Handshake />
                        Soft Skills
                    </Heading>
                    <UnorderedList>
                        <UnorderedListItem>
                            Attention to Detail
                        </UnorderedListItem>
                        <UnorderedListItem>
                            Teamwork &amp; Collaboration
                        </UnorderedListItem>
                        <UnorderedListItem>
                            Critical Thinking
                        </UnorderedListItem>
                        <UnorderedListItem>
                            Desire to Understand Your Business
                        </UnorderedListItem>
                    </UnorderedList>
                </Div>
            </Div>
            <Div Class="tile is-parent is-vertical">
                <!-- Back End Skills -->
                <Div Class="tile is-child notification is-warning">
                    <Heading Size=HeadingSize.Is4>
                        <Icon Name=Blazorise.Icons.FontAwesome.FontAwesomeIcons.Code />
                        Back-End Skills
                    </Heading>
                    <UnorderedList>
                        <UnorderedListItem>
                            Proficiency in: C#, Java, T-SQL, MySQL
                        </UnorderedListItem>
                        <UnorderedListItem>
                            Familiar with: Python, C/C++, Ruby, Go
                        </UnorderedListItem>
                        <UnorderedListItem>
                            .NET Framework, .NET Core
                        </UnorderedListItem>
                        <UnorderedListItem>
                            Database Design &amp; Normalization
                        </UnorderedListItem>
                        <UnorderedListItem>
                            Entity Framework, LINQ
                        </UnorderedListItem>
                    </UnorderedList>
                </Div>

                <!-- Front-End Skills -->
                <Div Class="tile is-child notification is-danger">
                    <Heading Size=HeadingSize.Is4>
                        <Icon Name=Blazorise.Icons.FontAwesome.FontAwesomeIcons.PencilRuler />
                        Front-End Skills
                    </Heading>
                    <UnorderedList>
                        <UnorderedListItem>
                            Proficiency in: HTML5, CSS, JavaScript
                        </UnorderedListItem>
                        <UnorderedListItem>
                            ASP.NET MVC, Blazor
                        </UnorderedListItem>
                        <UnorderedListItem>
                            Flux/Redux Architecture
                        </UnorderedListItem>
                        <UnorderedListItem>
                            Practical UI/UX Design
                        </UnorderedListItem>
                        <UnorderedListItem>
                            Responsive and Single-Page Web Apps
                        </UnorderedListItem>
                    </UnorderedList>
                </Div>
            </Div>
        </Div>
    </Div>
</Div>