body {
    background: linear-gradient(to bottom right, #0a0019, #002626);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
}

.tab-item, .a-img {
    cursor: pointer;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    padding: 1em;
}