html {
    background: linear-gradient(to bottom right, #0a0019, #002626);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
}

body {    
    color: hsl(0, 0%, 98%);
}

nav.is-transparent {
    background: rgb(255, 255, 255, 0.1);
}

.navbar-item, .navbar-link {
    color: #f5f5f5;
}